<!doctype html>
<html>

<head>
	<meta charset="utf-8">
	<title>Email Secretario Académico</title>
	<style>
		a:visited {
			color: #fff;
			text-decoration: none
		}
	</style>
</head>


<body style="background-color:#F3F3F3;">
	<table width="700" border="0" cellspacing="0" cellpadding="0" align="center">
		<tr>
			<td>
				<table width="700" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td align="center" style="text-align:center; font-family: 'Arial', sans-serif;">
                            <img src="https://ucasal.edu.ar/img/logos/banner_equivalencias_800.png" width="700" alt="Banner Encabezado">	
                            <div class="barra" style="background-color: #004181;height: 15px;">&nbsp;</div>						
						</td>
					</tr>

					<tr bgcolor="#fff">
						<td>

							<table width="700" align="center" cellpadding="10px" bgcolor="#FFFFFF">
								<tr>
									<td width="700" align="center" style=" text-align: center;padding:20px">

										<p
											style="text-align: center; font-size: 1.4em; color: #000000; font-style: normal; font-weight: 100; line-height: 1.5;  font-family:'Arial'">
											<b>IMPORTANTE</b>
										</p>

										<p
											style="text-align: left; font-size: 1.4em; color: #000000; font-style: normal; font-weight: 100; line-height: 1.5;  font-family:'Arial'">
											Estimado/a Secretario/a Académico/a:
										</p>

										<p id="docente"
											style="text-align: left; font-size: 1.4em; color: #000000; font-style: normal; font-weight: 100; line-height: 1.5;  font-family:'Arial'">
											Recibimos una solicitud de ingreso de carrera con materias equivalentes. Los datos son los siguientes:
                                                                                        
                                            <table width="700" align="center" cellpadding="10px" bgcolor="#FFFFFF">                                                
                                                
                                                <tr align="left" style="background-color: #f2f2f2;">
                                                    <th>Nº de Expediente: </th>
                                                    <td align="center">{{ n_expediente }}</td>
                                                </tr>

                                                <tr align="left" style="background-color: #fff;">
                                                    <th>Nombre Completo: </th>
                                                    <td align="center">{{ nombre_alumno }}</td>
                                                </tr>

												<tr align="left" style="background-color: #f2f2f2;">
                                                    <th>DNI: </th>
                                                    <td align="center">{{ n_docu }}</td>
                                                </tr>

                                                <tr align="left" style="background-color: #fff;">
                                                    <th>Año: </th>
                                                    <td align="center">{{ anio }}</td>
                                                </tr>

                                                <tr align="left" style="background-color: #f2f2f2;">
                                                    <th>Carrera:  </th>
                                                    <td align="center">{{ nombre_carrera }}</td>
                                                </tr>

                                                <tr align="left" style="background-color: #fff;">
                                                    <th>Modo:  </th>
                                                    <td align="center">{{ nombre_modo }}</td>
                                                </tr>

												<tr align="left" style="background-color: #f2f2f2;">
                                                    <th>Email:  </th>
                                                    <td align="center">{{ email }}</td>
                                                </tr>

												<tr align="left" style="background-color: #fff;">
                                                    <th>Observaciones:  </th>
                                                    <td align="center">{{ observaciones }}</td>
                                                </tr>
                                            </table>                                            
										</p>

										<p id="codigo"
											style="text-align: center; font-size: 2.5em; margin: 0; color: #000000; font-weight: bold; line-height: 1.5;  font-family:'Arial'">
										</p>
										<br>
										<p id="docente"
											style="text-align: left; font-size: 1.4em; color: #000000; font-style: normal; font-weight: 100; line-height: 1.5;  font-family:'Arial'">
											Puede consultar y gestionar el expediente ingresando al sistema Mesa de Entrada Unificada, desde <a style="color: black;" href="http://sistemas.ucasal.edu.ar/appseguimientos/faces/login.jspx">aquí</a>. </br>
											<br/>											
											-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
											<br/>
											(*) Este correo fue enviado automáticamente desde el sistema de consultas por equivalencias

										</p>
									</td>
								</tr>
							</table>
						</td>
					</tr>
					<tr bgcolor="#fff">                        
						<td colspan="3">  &nbsp;  </td>
					</tr>
					<tr bgcolor="#f1f1f1"><!-- #003f84 -->
						<td colspan="3">
							<table width="100%" align="center" cellpadding="10px" style="margin-left: 10px">
								<tr>
									<td width="50%" align="center">

									</td>
									<td width="20%">
										<p>&nbsp; </p>
									</td>
									<td width="30%">
										<a href="https://www.ucasal.edu.ar/index.php"><img class="img-responsive"
												src="https://www.ucasal.edu.ar/imagenes/isologo-h-blanco-160.png" alt="Ucasal" /></a>
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
				<p>&nbsp;</p>
</body>

</html>