<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Alumno UCASAL</title>
</head>
<body>
    <style>
        .foot {
            width: 100%;      
            height: 50px;
            padding-top: 10px;
            background-color: #F1F1F1; 
            text-align: center;        
        }
    </style>


    <div class="container" style=" margin: 0 auto; display: block; text-align: center; width: 800px;  height: 800px;  background-color: #f1f1f1;">
       
        <div class="banner" style=" width: 100%; background-color: #f1f1f1;display: block;">
            <img src="https://ucasal.edu.ar/img/logos/banner_equivalencias_800.png" alt="Logo UCASAL">
        </div>   

        <div class="barra" style="background-color: #004181;height: 15px;">&nbsp;</div>

        <div class="texto" style="text-align: left;    padding-top: 50px; height: 300px; background-color: #FFF;">
        
        Estimado {{ nombre_alumno }}
        <br>
        <br>
        Su tramite ya se encuentra en proceso de revisión, en breve se comunicaran con usted via email.
        <br> <br>
        Puede consultar el estado del mismo con los siguientes datos:
        <br>        
        <br>
        <table>
            <tr align="left" style="background-color: #f2f2f2;">
                <th>Nº de Expediente: </th>
                <td align="center">{{ n_expediente }}</td>
            </tr>
            <tr align="left" style="background-color: #fff;">
                <th>Año: </th>
                <td align="center">{{ anio }}</td>
            </tr>
            <tr style="background-color: #f2f2f2;">
                <th>Carrera:  </th>
                <td align="left">{{ nombre_carrera }}</td>
            </tr>
            <tr align="left" style="background-color: #fff;">
                <th>Modo:  </th>
                <td align="left">{{ nombre_modo }}</td>
            </tr>
        </table>
        <br>
        <br>
        desde el siguiente link: <a href="https://www-desa.ucasal.edu.ar/equivalencias_externas/consultar_expediente.php">Seguimiento de Expedientes</a>
        <br>
        <br>
        </div>
        <div class="barra" style="background-color: #CCC;height: 15px;">&nbsp;</div>
        
        <table class="module" role="module" data-type="spacer" border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;">
            <tbody>
                <tr>
                    <td style="padding:0px 0px 30px 0px;" role="module-content" bgcolor=""></td>
                </tr>
            </tbody>
        </table>

        <table class="module" role="module" data-type="text" border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;">
            <tbody>
                <tr>
                    <td style="padding:18px 0px 18px 0px;line-height:22px;text-align:inherit;" height="100%" valign="top" bgcolor="">
                        <div style="text-align: center;">
                            <span style="color: rgb(0, 0, 0); font-family: verdana, geneva, sans-serif; font-size: 12px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; text-align: center;">¡Sorprendete! Con <strong>UCASAL</strong>, tu historia no se detiene<strong>.</strong></span>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <table class="module" role="module" data-type="spacer" border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;">
            <tbody>
                <tr>
                    <td style="padding:0px 0px 30px 0px;" role="module-content" bgcolor=""> </td>
                </tr>
            </tbody>
        </table>

        <table class="module" role="module" data-type="social" align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;">
            <tbody>
                <tr>
                    <td valign="top" style="padding:0px 0px 0px 0px;font-size:6px;line-height:10px;">
                        <table align="center">
                            <tbody>
                                <tr>
                                    <td style="padding: 0px 5px;">
                                        <a role="social-icon-link" href="https://www.facebook.com/Ucasal" target="_blank" alt="Facebook" data-nolink="false" title="Facebook " style="-webkit-border-radius:17px;-moz-border-radius:17px;border-radius:17px;display:inline-block;background-color:#3B579D;">
                                            <img role="social-icon" alt="Facebook" title="Facebook " height="30" width="30" style="height: 30px, width: 30px" src="https://marketing-image-production.s3.amazonaws.com/social/white/facebook.png">
</a>
                                    </td>
                                    <td style="padding: 0px 5px;">
                                        <a role="social-icon-link" href="https://twitter.com/ucasaloficial" target="_blank" alt="Twitter" data-nolink="false" title="Twitter " style="-webkit-border-radius:17px;-moz-border-radius:17px;border-radius:17px;display:inline-block;background-color:#7AC4F7;">
                                            <img role="social-icon" alt="Twitter" title="Twitter " height="30" width="30" style="height: 30px, width: 30px" src="https://marketing-image-production.s3.amazonaws.com/social/white/twitter.png">
</a>
                                    </td>
                                    <td style="padding: 0px 5px;">
                                        <a role="social-icon-link" href="https://www.instagram.com/ucasal" target="_blank" alt="Instagram" data-nolink="false" title="Instagram " style="-webkit-border-radius:17px;-moz-border-radius:17px;border-radius:17px;display:inline-block;background-color:#7F4B30;">
                                            <img role="social-icon" alt="Instagram" title="Instagram " height="30" width="30" style="height: 30px, width: 30px" src="https://marketing-image-production.s3.amazonaws.com/social/white/instagram.png">
</a>
                                    </td>


                                    <td style="padding: 0px 5px;">
                                        <a role="social-icon-link" href="https://www.linkedin.com/school/universidad-cat-lica-de-salta/?viewAsMember=true" target="_blank" alt="LinkedIn" data-nolink="false" title="LinkedIn " style="-webkit-border-radius:17px;-moz-border-radius:17px;border-radius:17px;display:inline-block;background-color:#0077B5;">
                                            <img role="social-icon" alt="LinkedIn" title="LinkedIn " height="30" width="30" style="height: 30px, width: 30px" src="https://marketing-image-production.s3.amazonaws.com/social/white/linkedin.png">
</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>

        <table class="module" role="module" data-type="spacer" border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;">
            <tbody>
                <tr>
                    <td style="padding:0px 0px 30px 0px;" role="module-content" bgcolor=""></td>
                </tr>
            </tbody>
        </table>

        <div class="foot">&nbsp; </div>    
    
    </div><!--  container -->
    
</body>
</html>